<p><%= @users.name%></p><br>
<p><%= @users.surname%></p><br>
<p><%= @users.lastname%></p><br>
<p><%= @users.age%></p><br>
<p><%= @users.studentid%></p><br>
<p><%= @users.gpa%></p><br>
<p><%= @users.yearofstudy%></p><br>
<p><%= @users.faculty%></p><br>
<p><%= @users.scecialization%></p><br>
